div.comment-box{
    background-color: #f8f8f8
}
div.comment-box-header{
    border-bottom: 1px solid black;
}
div.col-sm-2{
    width: 20%;
}
div.col-sm-4{
    height: 500px;
}
div.thumbnail {
   box-shadow: 5px 5px grey;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}